body {
  margin: 0;
  background-color: #1e1e1e;
}

/* NAVBAR */

header {
  width: 100%;
  top: 0;
  right: 0;
  z-index: 0;
  display: flex;
  justify-content: space-between;
  background-color: #1e1e1e;
  padding: 10px 2% 10px 2%;
  transition: all 0.5s ease;
  align-items: right;
}
/* /
#house-link {
  width: 100px; /* adjust the width as needed */
/* margin: 0 auto;
}  */
.LOGO {
  display: block;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  margin-right: auto;
}

.LOGO a {
  text-decoration: none;
  color: #d3cbcb;
  font-family: "Raleway", sans-serif;
  letter-spacing: 10px;
  font-size: 20px;
}

.NAVBAR {
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin-right: 20px;
  padding: 0;
}

.NAVBAR a {
  color: #d3cbcb;
  margin-right: calc((100vw - 960px) / 16);
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.NAVBAR a:hover {
  color: green;
}

#menu-icon {
  font-size: 35px;
  cursor: pointer;
  z-index: 1000;
  display: none;
  color: white;
}

/* BACKGROUND */

.BACKGROUND {
  background-image: url(/images/Main/1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.BACKGROUND-CONTENT {
  width: 30%;
  padding: 100px;
  height: auto;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  color: white;
  text-shadow: black 5px 0 10px;
  margin-left: 100px;
}

.BACKGROUND-CONTENT h1 {
  margin: 0;
  font-size: 55px;
  letter-spacing: 5px;
}

.BACKGROUND-CONTENT p {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.BACKGROUND-BUTTONS {
  display: flex;
  flex-direction: row;
}

.BACKGROUND-BUTTONS button {
  height: 40px;
  width: 150px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  display: block;
  margin: 20px 20px 20px 0px;
  font-size: 10px;
  box-shadow: rgba(0, 0, 0, 0.808) 5px 10px 10px;
  cursor: pointer;
}
.BACKGROUND-BUTTONS button:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
}
.BACKGROUND-BUTTONS a {
  text-decoration: none;
}

/* BACKGROUND CLOSED */

/* PLANTS CATEGORY */

.PLANT-CONTAINER h3 {
  font-family: "Raleway", sans-serif;
  letter-spacing: 15px;
  text-align: center;
  color: white;
  font-size: 12px;
  text-shadow: black 2px 0 1px;
  margin: 50px 0;
}

.PLANT-ROW {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px 0px;
}

.PLANT-BOX {
  position: relative;
  display: inline-block;
  width: 20%;
  box-shadow: rgba(0, 0, 0, 0.808) 5px 10px 10px;
}

.PLANT-BOX img {
  width: 100%;
  opacity: 0.9;
}

.PLANT-BOX:hover .TEXT-BOX {
  opacity: 1;
}

.TEXT-BOX {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Raleway", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.TEXT-BOX button {
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  margin-top: 10px;
  cursor: pointer;
}

/* SEARCH */

.FILTER {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  font-family: "Raleway", sans-serif;
  width: 100%;
  align-items: center;
  height: 100px;
}

#checkboxContainer {
  height: 300px;
  overflow-y: auto;
  border: 1px solid black;
}

.FILTER H2 {
  text-align: center;
  font-size: 50px;
  letter-spacing: 5px;
}

.FILTER-BOX {
  width: 60%;
  justify-content: space-evenly;
}

.buttonSearch {
  height: 40px;
  width: 150px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  font-size: 10px;
  box-shadow: rgba(0, 0, 0, 0.808) 5px 10px 10px;
  display: block;
  margin: 20px auto;
}

#showResults {
  display: block;
  margin-left: 30px;
  align-self: center;
  width: 90%;
}

#showResults {
  display: block;
  margin-left: 30px;
  align-self: center;
  width: 90%;
}

/* FIND */
.BOX-FIND {
  display: block;
  width: 100%;
  align-items: center;
}

.FIND {
  width: 80%;
  height: 350px;
  display: flex;
  flex-direction: row;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  align-items: center;
  color: #d3cbcb;
  letter-spacing: 2px;
  margin: 30px auto;
  justify-content: space-evenly;
}

.FIND img {
  width: 40%;
}

.FIND h2 {
  color: #d7ddda;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  text-shadow: rgba(0, 0, 0, 0.164) 2px 0px 8px;
  letter-spacing: 2px;
}

.FIND-TEXT {
  font-size: 12px;
  margin-left: 10px;
  width: 40%;
}

.FIND button {
  height: 40px;
  width: 150px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  display: block;
  margin: 20px 20px 20px 0px;
  font-size: 10px;
  box-shadow: rgba(0, 0, 0, 0.151) 5px 8px 10px;
}

.GREEN {
  display: flex;
  flex-direction: row;
  height: auto;
  font-size: 13px;
  align-items: center;
  width: 80%;
  margin: 100px auto;
  border: 4px solid #ffffff72;
  /* background-image: url(/images/Main/wild1.jpg); */
  background-size: 80% auto;
  background-repeat: no-repeat;
}

.GREEN-IMAGE {
  width: 100%;
  height: auto;
}

.GREEN-IMAGE img {
  width: 100%;
  height: auto;
}

.BETWEEN-GREEN {
  display: block;
  width: 100%;
  height: auto;
  color: #d3cbcb;
  padding: 20px;
  align-items: center;
  text-align: center;
  background-color: #201919c8;
}

.BETWEEN-GREEN h2 {
  color: white;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  text-shadow: rgba(0, 0, 0, 0.048) 2px 0px 8px;
  letter-spacing: 2px;
}

.BETWEEN-GREEN p {
  font-family: "Raleway", sans-serif;
}

.BETWEEN-GREEN button {
  height: 40px;
  width: 150px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  display: block;
  margin: auto;
  font-size: 10px;
  box-shadow: rgba(0, 0, 0, 0.808) 5px 10px 10px;
  cursor: pointer;
}

.BETWEEN-GREEN button:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
}

.DESCRIPTION {
  width: 60%;
  display: block;
  margin: auto;
  color: #d3cbcb;
  font-family: "Poppins", sans-serif;
  line-height: 30px;
}

.DESCRIPTION h1 {
  text-align: center;
  font-size: 30px;
  margin: 50px;
}

.DESCRIPTION h2 {
  font-size: 15px;
}

.DETAILS {
  display: block;
  width: 30%;
  align-items: center;
  margin: 50px auto;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.DETAILS label {
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
}

.DETAILS input {
  width: 70%;
  height: 30px;
  border-radius: 10px;
  background-color: #888;
  color: #1e1e1e;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin: 20px 0px;
  padding: 5px;
}

.DETAILS select {
  width: 70%;
  height: 30px;
  border-radius: 10px;
  background-color: #888;
  color: #1e1e1e;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin: 20px 0px;
  padding: 5px;
}

.DETAILS h2 {
  font-size: 40px;
  color: #d3cbcb;
  margin: 100px 0;
  letter-spacing: 2px;
}

/* DIALOG BOX */

.dialog-box {
  font-family: "Poppins", sans-serif;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#dialog-title {
  text-align: center;
  font-size: 40px;
  color: #f5faf5c7;
}

.dialog-content {
  background-color: #1e1e1e;
  color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 50%;
}

.close {
  color: #0dac2f;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* RESPONSIVE */

@media screen and (max-width: 768px) {
  /* BACKGROUND */

  .BACKGROUND {
    background-size: 100%;
  }

  .BACKGROUND-CONTENT {
    width: 90%;
    display: block;
    align-items: center;
    display: block;
    padding: 30px;
    margin: auto;
  }

  .BACKGROUND-CONTENT h1 {
    font-size: 30px;
  }

  .BACKGROUND-CONTENT p {
    font-size: 15px;
  }

  .BACKGROUND-BUTTONS button {
    height: 40px;
    width: 100px;
    margin: 10px 20px 20px 0px;
    font-size: 10px;
  }

  /* BACKGROUND CLOSED */

  /* PLANT-CONTAINER*/

  .PLANT-CONTAINER h3 {
    font-family: "Raleway", sans-serif;
    letter-spacing: 15px;
    text-align: center;
    color: white;
    font-size: 17px;
    text-shadow: black 2px 0 1px;
    margin: 20px 0px;
  }

  .PLANT-ROW {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .PLANT-BOX {
    position: relative;
    display: inline-block;
    width: 60%;
    margin: 40px 0px;
  }

  .PLANT-BOX img {
    width: 100%;
    opacity: 0.9;
  }

  .FIND {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
  }

  .FIND-TEXT {
    width: 80%;
  }

  .FIND button {
    width: 100px;
  }

  .FIND img {
    width: 50%;
  }

  .FILTER {
    width: 90%;
    margin: auto;
  }

  .FILTER H2 {
    font-size: 40px;
  }

  .FILTER-BOX {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .FILTER-BOX select {
    margin-left: 0px;
    border: 1px solid white;
    width: 80%;
    padding: 10px;
    margin: 20px;
  }

  .FILTER input {
    font-size: 15px;
  }

  .FIND {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .FIND img {
    width: 100%;
  }

  .GREEN {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    width: 70%;
    margin: 30px auto;
    background-size: 70% auto;
  }

  .GREEN-IMAGE {
    width: auto;
    height: auto;
  }

  .BETWEEN-GREEN {
    display: block;
    width: auto;
    height: auto;
  }

  .DESCRIPTION {
    width: 70%;
    display: block;
    margin: auto;
  }

  .DETAILS {
    display: block;
    width: 80%;
    margin: 20px auto;
  }
}

/* NAVBAR RESPONSIVE */

.hamburger {
  display: none;
  color: white; /* initially hide the hamburger button */
}

@media only screen and (max-width: 1280px) {
  /* show the hamburger button only on screens smaller than 768px */
  .hamburger {
    position: fixed;
    top: 20px;
    right: 20px;
    display: block;
    position: absolute;
    z-index: 1;
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  /* hide the .NAVBAR list by default */
  .NAVBAR {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-top: 0;
    top: 50px;
    right: 0px;
    border: #1e1e1e 1px solid;
    width: 30%;
    background-color: #333333aa;
    text-align: center;
  }
  .NAVBAR li {
    margin-bottom: 10px;
  }

  /* show the .NAVBAR list when the hamburger button is clicked */
  .hamburger-clicked ~ .NAVBAR {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hamburger:hover {
    color: green;
  }
}
